<div class="container-fluid">
    <br/>
    <div class="row">
    <div class="col-lg-12">
        <app-navigation></app-navigation>
    </div>
    </div>

    <div class="row col-lg-12" style="margin: 10px 0px;">
        <div class="col-lg-12 font-weight-bold text-center search-field-text p-3 mb-2 bg-info text-white">
            <h2 class="page-title">Stock Market</h2>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-12 text-center">
            <p-divider>
            </p-divider>
        </div>
    </div>
    <router-outlet></router-outlet>
    <app-loading-page></app-loading-page>
</div>
<br />